.box{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 47vh;
    width: 20vw;
    margin-left: 80px;
  }
.box-content{
    padding: 15px;
    padding-top: 10px;
  }
  .day-circle{
        margin-top: 15px;
        margin-bottom: 10px;
        background-color:#BD00FF;
        border-radius:35px;
        height:70px;
        width : 70px;
        margin-left: 80px;
        align-content:'center';
        align-items:'center';
  }
  .day-text{
    color: white;
    font-size: 20px;
    margin-left: 17px;
    font-weight: 600;
  }
  .day-number{
    color: white;
    font-size: 20px;
    margin-left: 11px;
    font-weight: 600;
  }
.batch-name{
    color: black;
    font-weight: bold;
    font-size:30px;
    justify-self: center;
}
.trainees{
    display: flex;
    width: 2wv;
}
.no-of-trainees{
    color: black;
    font-weight: 500;
    font-size: 20px;
    flex: 1;
}
.trainee-no{
    flex: 1;
    color: black;
    font-size: 20px;
}
.start-date-text{
    color: #8518FF;
    font-size: 20px;
    flex: 1;
}
.start-date{
    color: #8518FF;
    font-weight: bold;
    font-size: 20px;
    flex: 2;
}
.end-date-text{
    color: #8518FF;
    font-size: 20px;
    flex: 1;
}
.end-date{
    color: #8518FF;
    font-weight: bold;
    font-size: 20px;
    flex: 2;
}
.edit-button{
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
}

