<div class="inner-div-body">
    <div class="box">
        <div class="box-content">
            <div class="day-circle">
                <div class="day-text">
                    Day
                </div>
                <div class="day-number">
                    10/22
                </div>
            </div>
        <div class="batch-name">
            ILP 2023-24 B2
        </div>
        <div class="trainees">
        <div class="no-of-trainees">
            Trainees -
        </div>
        <div class="trainee-no">10</div>
        </div>
        <div style="display: flex;">
            <div class="start-date-text">
                start : 
            </div>
        <div class="start-date">
            12th Dec 2002
        </div>
    </div>
    <div style="display: flex;">
        <div class="end-date-text">
            end :
        </div>
        <div class="end-date">
            12th Dec 2002
        </div>
    </div>
    <div class="edit-button">
        <button style="border-radius:20px ; width: 80px; border-color: #3E94D2;background-color: #3E94D2;">Edit</button>
    </div>
    </div>
    </div>
