<div class="outer-div">
  <div class="inner-div">
    <nav class="navbar navbar-expand-lg bg-transparent"> <!-- Changed bg-body-tertiary to bg-transparent -->
      <div class="container-fluid ms-5">
        <a class="navbar-brand text-light" href="#">Home</a> <!-- Added text-light class for light text -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-light"></span> <!--Added text-light class for light text -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-5">
              <a class="navbar-brand text-light" routerLink="contact-form">Form</a> <!-- Added text-light class for light text -->
            </li>
            <li class="nav-item ms-5">
              <a class="navbar-brand text-light" routerLink="messages">Messages</a> <!-- Added text-light class for light text -->
            </li>
            <li class="nav-item ms-5">
              <a class="navbar-brand text-light" routerLink="signup">SignUp</a> <!-- Added text-light class for light text -->
            </li>
            <li class="nav-item ms-5">
              <a class="navbar-brand text-light" routerLink="login">Login</a> <!-- Added text-light class for light text -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
    </div>

    <div class="inner-div-body">
      <div class="inner-div-head">
        ILPEx
      </div>
      <div class="inner-div-text">
      This is a web app for tracking the e-learning progress of candidates at experion.
    </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>

 
  

  <style>
    .outer-div {
      background-color: #bb8df2;
      padding: 20px;
      height: 100vh; /* Set height to 100% of the viewport height */
      width: 100vw; /* Set width to 100% of the viewport width */
      margin: 0; /* Remove default margin */
      display: flex; /* Use flexbox to center content */
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
    }
    
    .inner-div {
      background-color: #5B0BB5;
      padding: 10px;
      border-radius: 15px;
      height: 80vh; /* Set height to 100% of the viewport height */
      width: 80vw;
      color: white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .inner-div-body{
      padding: 80px;
      padding-top: 100px;
      width: 50vw;
    }
    .inner-div-head{
      font-size:70px;
      font-weight: bold;
    }
    .inner-div-text{
      font-size:20px;
      font-weight:100px;
    }
  </style>

<div class="col-md-10 mx-auto">
  <router-outlet></router-outlet>
</div>