.signup-container {
    background-color: #bb8df2; /* Set the background color of the whole page */
    margin: 0;
    padding : 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ilpex-heading {
    background-color: #bb8df2;
    padding : 0;
    margin: 30px 0px 0px 0px;
    color : white;
    text-align:center;
    font-size: 60px; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;      
}

.card-body {
    border-top-left-radius: 20px;
}

#form-container {
    border-radius: 30px;
    background-color: #5B0BB5;
}

label {
    margin-left : 5px;
    color:white
}