<div>
    <h1 class = "heading">Batches</h1>
<div class="outer-div">
  <div class="inner-div">
      <div *ngIf="batches && batches.length > 0" style="width: 300px;">
        <div *ngFor="let row of chunk(batches, 3)" style="display: flex;">
          <div class="col" *ngFor="let batch of row">
      <div class="card">
        <div class="smallIcon">
          <!-- <div class="Icon">{{batch.batch_name}}</div> -->
          <div class="Name">{{batch.batch_name}}</div>
          <!-- <div class="Roles"></div> -->
          <div class="Descripion">start : {{formatDate(batch.start_date)}} 
            end : {{formatDate(batch.end_date)}}
            Trainees : {{batch.noOfTrainees}}
          </div>
          <button class="edit-button" (click)="editBatch(batch.batch_id)">Edit</button>
        </div>
      </div>
    </div>
  </div>
    </div>
      <div *ngIf="!batches || batches.length === 0" class="no-batches-message">
        No batches available.
    </div>
  </div>
</div>
@if(edit){
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 1;">
            <app-edit-form (closeForm)="onCloseEditForm()"s></app-edit-form>
    </div>
}
</div>
